*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@500;600&family=Ubuntu+Condensed&display=swap');
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif; */
    padding:4% 3%;
    background-color: hsl(260, 5%, 24%);
    color: #fff;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Styles for navbar. */
.navbar{
    display:flex;
    justify-content: space-between;
    /* background-color: beige; */

}
.logo{
    font-size: 2rem;
    letter-spacing: 4px;
    cursor: pointer;
}
.hamburgerMenu{
    cursor: pointer;
}
.burgerIcon{
    height: 6px;
    width: 40px;
    margin:4px;
    background-color: hsl(0, 0%, 100%);
}

/* Style for login form */
.logInForm{
    padding-top: 10%;
    padding-left: 60%;  
}
.logInChild{
    width: 400px;
    padding: 20px;
}
input{
    height:2.5rem;
    width:100%;
    margin:10px auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    padding: 5px 20px;
    color: #fff;
}
input::placeholder{
    color: #fff;
    /* margin-left: 8px; */
}
a{
    text-decoration: none;
    font-size: smaller;
    color: #fff;
    
}
.anchors{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
button{
    width:100%;
    border: none;
    border-radius: 14px;
    margin: 3rem auto 1rem auto;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: large;
    font-weight: bold;
    color: #fff;
    padding:8px 0 ;
    cursor: pointer;
}




